<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      </button>
      <!-- <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> -->
      <!--   <span class="icon-bar"></span> -->
      <!--   <span class="icon-bar"></span> -->
      <!--   <span class="icon-bar"></span> -->
      <!-- </button> -->
      <a class="brand" href="https://www.aimedatthestars.org/">Aimed At The Stars</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="/">Big Angular Flight Picture Mode</a></li>
          <li class=""><a href="https://github.com/irtnog/big-angular-flight-picture-mode">GitHub Repository</a></li>
          <li class=""><a href="TODO">Acknowledgements</a></li>
         </ul>
      </div>
    </div>
  </div>
</div>
